{% extends 'core/base.html' %}

{% block title %} Home | About {% endblock %}

{% block background %}{% load static %}{% static 'core/img/about-bg.jpg' %}{% endblock %}

{% block headers %} 
<h1>About me</h1>
{% endblock %}

{% block content %}
<div class="row">
<div class="col-lg-3 col-md-4 offset-lg-1">
          <img class="img-fluid avatar" src="{% static 'core/img/avatar.png' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
          <h2 class="section-heading">Víctor Manuel Santos Martínez</h2>   
          <p>I was born in Huauchinango Puebla, MX.</p>
          <p>
              I am passionate about software design (both architecture and UX/UI), frontend and backend development, and the abstraction process. I always look for the best solution. I commit to development projects for customer and team satisfaction. I like helping. ❤️
          </p>
</div>
</div>
{% endblock %}